extends layout
block stylecss
  link(rel='stylesheet', type='text/css', href='stylesheets/style.css')
block content
  main.mainContent
    section.stat
      h1 Statistiques
      p
        | Pourcentage de réussite: 50% 
        br
        | 				Moyenne des examens: 70/100 
        br
        | 				Notes des examens: 
        ul
          li  Examen1: 80/100
          li  Examen2: 100/100
    section
      h1.domain Domaine: HTML
      section
        h1.enonce
          | Question1/2: Les éléments inline sont normalement affichés sans démarrer une nouvelle ligne.
        form
          span
            input(type='checkbox', name='choix1', value='1')
            |  Vrai
          span
            input(type='checkbox', name='choix2', value='2')
            |  Faux
    form(action='tabBord')
      button.button Retour
    form(action='examen2')
      button.button Suivant
    form(action='resultatExamen')
      button.button Abandonner
    section.currentScore
      | Note Courante : 0/100
