extends layout
block link
  -var selected = 'Instructions';
block stylecss
  link(rel='stylesheet', type='text/css', href='stylesheets/style.css')
block content
  main.mainContent
      article
        h1 Instructions
        img#instructions(src='images/instruction2.png')
        p.textinstructions
          | Afin d'apprendre les technologies web la meilleur manière est la méthode des trois P : Pratique Pratique Partique.
          br
          |  Pour cela, de nombreuses questions sont mises à disposition dans la section
          | 			des tests rapides. Les notes attribuées pour ces tests ne sont pas calculées. Vous pouvez donc en faire autant que vous voulez sans couler votre cours.
          br
          |  Lorsque vous serez finalement prêts, vous pourrez effectuer l'examen de la 
          | 			technologie que vous voulez et choisir le nombre de questions auxquelles vous souhaitez répondre. Afin d'effectuer  un test rapide ou un examen vous devez:
          ul
           li Rendez vous a la page du tableau de bord
           li Selectionner la technologie : HTML ,CSS ou JavaScript si vous voulez effectuer un examen
           li Selectionner le nombre de questions si vous voulez effectuer un examen
           li Cliquez sur le type de test que vous voulez effectuer
        p#voeux Bonne chance à tous et bon apprentissage!