extends layout
block link
  -var selected = 'Tableau de bord';
block stylecss
  link(rel='stylesheet', type='text/css', href='stylesheets/tabBord.css')
block content
  main.mainContent
      section.testrapide
        h1 Test rapide
        form(action='testRapide1')
          button.button Test rapide
      section.examen
        h1 Examen
        form(action='examen1')
          select.domainChoice
            option(value='html') HTML
            option(value='css') CSS
            option(value='javascript') JavaScript
          select.examNumber
            option(value='deux') 2
            option(value='quatre') 4
            option(value='six') 6
            option(value='huit') 8
          button.button(href='examen1') Examen
      section.statistiques
        h1 Statistiques
        p
          | Pourcentage de réussite: 50% 
          br
          |         Moyenne des examens: 70/100 
          br
        // link for details button
        a(href='#detailsBox')
          input.button(type='button', value='Details')
        // link for click to return dashboard
        #detailsBox.modal
          p
            | Pourcentage de réussite: 50% 
            br
            |         Moyenne des examens: 70/100 
            br
            |         Notes des examens: 
            ul
              li Examen1: 80/100 
              li  Examen2: 100/100
        a.outside(href='#tabBord')