extends layout
block stylecss
  link(rel='stylesheet', type='text/css', href='stylesheets/style.css')
block content
  main.mainContent
        include statBox
        h1.domain Domaine: HTML
        section
          h1.enonce Question1: Que signifie HTML?
          form
            span
              input(type='checkbox', name='choix1', value='1')
              |  Hyperliens et Text Markup Language
            span
              input(type='checkbox', name='choix2', value='2')
              |  Langage Signalétique Hyper Text
            span
              input(type='checkbox', name='choix3', value='3')
              |  Accueil Outil Markup Language
        form(action='tabBord')
          button.button Retour
        form(action='testRapide2')
          button.button Suivant
        section.currentScore Note courante: 0/100