extends layout
block link
  -var selected = 'Tableau de bord';
block stylecss
  link(rel='stylesheet', type='text/css', href='stylesheets/style.css')
  script(type='text/javascript', src='https://code.jquery.com/jquery-3.1.1.js')
  script(type='text/javascript', src='/javascripts/tabBord.js')
  script(type='text/javascript', src='/javascripts/examen.js')
  script(type='text/javascript', src='/javascripts/storage.js') 
block content
  main.mainContent

    include statBox
    section
      h1#domain.domain 
      section
        h1#enonce.enonce
        //go to resultatExamen when it is the last question
        form#choices(method='post', action='/resultatExamen')
          ul#reponses
          button#suivantExamen.button(type='submit', value='suivantExamen',disabled) Suivant
    form(action='tabBord')
      button.button Retour
    form#abandonForm(name='abandan' action='/resultatExamen')
      button#abandonBtn.button Abandonner
    div.reponse-container
    section.currentScore
      | Note Courante : 0/100
  script(src='javascripts/examen.js')
