section.stat
      h1 Statistiques
      p
        | Pourcentage de réussite: 50% 
        br
        | 				Moyenne des examens: 70/100 
        br
        | 				Notes des examens: 
        ul
          li  Examen1: 80/100
          li  Examen2: 100/100