extends layout
block link
  -var selected = 'Tableau de bord';
block stylecss
  link(rel='stylesheet', type='text/css', href='stylesheets/style.css')
  script(type='text/javascript', src='https://code.jquery.com/jquery-3.1.1.js') 
  script(type='text/javascript', src='/javascripts/testRapide.js')
block content
  main.mainContent
        include statBox
        h1#domain.domain
        section
          h1#enonce.enonce
          form#choices
            span
              input#choix( draggable="true", type="checkbox", name="choix1", value="1", ondragstart="drag(event)")
              |  choice1
          img#instructions(src='images/instruction2.png', draggable="true", ondragstart="drag(event)", ondragend="dragend(event)")

          p#responsebox(ondrop="drop(event)", ondragover="allowDrop(event)")
          | your response here

        form(action='tabBord')
          button.button Retour
        button#suivant.button Suivant
        section.currentScore 