extends layout
block link
  -var selected = 'Tableau de bord';
block stylecss
  link(rel='stylesheet', type='text/css', href='stylesheets/style.css')
  script(type='text/javascript', src='https://code.jquery.com/jquery-3.1.1.js') 
  script(type='text/javascript', src='/javascripts/testRapide.js') 

block content
  main.mainContent
        include statBox
        h1#domain.domain
        section
          h1#enonce.enonce
          form#choices
        form(action='tabBord')
          button.button Retour
        button#suivant.button Suivant
        section.currentScore Note courante: 0/100