main.mainContent
article
  h1 Bienvenue sur Poly Web Quiz
  p
    | Bienvenue sur Poly Web Quiz! Sur ce site, vous pourrez tester vos connaissances des technologies Web à travers différents tests. Pour tester vos connaissances de façon rapide effectuer un test rapide. Pour effectuer
    | un test plus formel, effectuer un examen.

