section#suivant
  h1#domain.domain {{question.domaine}}
  form#examenForm(action='/resultatExamen')
    h1#enonce.enonce {{question.question}}
    ul#choixreponses.choixreponses
      li.choix(*ngFor = "let choice of question.choices",draggable = "true") {{choice}}
    div#reponse
    button#suivantBtn.button(type='submit' value='suivantBtn') Suivant
section#Retour
  form(action='/resultatExamen')
    button#retourBtn.button Retour
section#Abandon
  form(action='resultatExamen')
    button#abandonnerBtn.button Abandonner
section#Save
  form(action='tabBord')
    button#saveBtn.button Sauvegarder
section.currentScore
  | Note Courante : -- / --