    //-   h1 Statistiques
    //-   p#stats
    //-     br
    //-   p#statstest
    //-     br
    //-   a(href='#detailsBox')
    //-     input.button(type='button', value='Details', id='Details')
    //-   #detailsBox.modal
    //-     p#textDetails Notes des examens: 
    //-       ul#listeExams
    //-         li#list
    //-         script moyenneExamens();
    //-   a.outside(href='#tabBord')
    //-   br
    //-   button#resetBtn.button Remise à zéro