main.mainContent
    section.testrapide
      h1 Test rapide
      form#testRapideBtnForm(routerLink="/testRapide")
        button#testRapideBtn.button(type='submit',value='test',(click)="startTestRapide()") Test rapide
    section.examen
      h1 Examen
      form#examenFormBtn(action='/examen',method='post', #f="ngForm")
        select#domainChoice.domainChoice(name="domaine",required,[(ngModel)]="examData.domaine")
          option( *ngFor="let domaine of domaines" value="{{domaine}}") {{domaine}}
        select#examNumber.examNumber(name="nombre",required, [(ngModel)]="examData.nombre")
          option( *ngFor="let examNumber of examNumbers" value="{{examNumber}}" ) {{examNumber}}
        input#examenBtn.button(routerLink='/examen' type='submit' value='Examen',(click)="saveExamData(f.value)")
    stats