doctype html
html
  head
    title Apprenez le web par des QUIZ!
    meta(charset='utf-8')
    meta(name='viewport', content='width=divice-width, initial-scale=1.0')
    block stylecss
    block tabBordcss
  body.body
    header.mainHeader
      block logo
      nav
        ul
          li
            a(href='index') Accueil
          li
            a(href='tabBord') Tableau de bord
          li
            a(href='instructions') Instructions
      block content
    footer.footer
      p © copyright 2016, Hana Ben Arab (1691212) & Fazil Messaoud(1605802)

