extends layout
block link
  -var selected = 'Tableau de bord';
block stylecss
  link(rel='stylesheet', type='text/css', href='stylesheets/style.css')
block content
  main.mainContent
      include statBox
      h1.domain Domaine: JavaScript
      section
        h1.enonce Question2: Où est le bon endroit pour insérer un JavaScript?
        form
          span
            input(type='checkbox', name='choix1', value='1')
            |   La section body
          span
            input(type='checkbox', name='choix2', value='2')
            |  Tant la section head et body sont corrects
          span
            input(type='checkbox', name='choix3', value='3')
            |  La section head
      form(action='tabBord')
        button.button Retour
      form(action='tabBord')
        button.button Suivant
      br
      br
      section.currentScore Note courante: 50/100