extends layout
block link
  -var selected = 'Tableau de bord';
block stylecss
  link(rel='stylesheet', type='text/css', href='stylesheets/tabBord.css')
  script(type='text/javascript', src='https://code.jquery.com/jquery-3.1.1.js')
  script(type='text/javascript', src='/javascripts/tabBord.js')
block content
  main.mainContent
      section.testrapide
        h1 Test rapide
        form#testRapideBtnForm(action='/testrapide')
          button#testRapideBtn.button Test rapide
      section.examen
        h1 Examen
        form#examenFormBtn(action='/examen')
          select#domainChoice.domainChoice
            option(value='HTML') HTML
            option(value='CSS') CSS
            option(value='JavaScript') JavaScript
          select#examNumber.examNumber
            option(value='2') 2
            option(value='4') 4
            option(value='6') 6
            option(value='8') 8
          button#examenBtn.button Examen
      section.statistiques
        h1 Statistiques
        p#stats
          br
        p#statstest
          br
        // link for details button
        a(href='#detailsBox')
          input.button(type='button', value='Details', id='Details')
        // link for click to return dashboard
        #detailsBox.modal
          p#textDetails
            |         Notes des examens: 
            ul#listeExams
              li#list
              script moyenneExamens();
        a.outside(href='#tabBord')
        br
        button#resetBtn.button Remise à zéro